@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "redhat-bold";
  src: url("/public/assets/fonts/static/RedHatText-Bold.ttf");
}

@font-face {
  font-family: "redhat-regular";
  src: url("/public/assets/fonts/static/RedHatText-Regular.ttf");
}

@font-face {
  font-family: "redhat-semibold";
  src: url("/public/assets/fonts/static/RedHatText-SemiBold.ttf");
}
